/* Master Styles */
body {
    margin: 0px;
    font-family: "Baloo Tamma 2",sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

.navigator {
    display: flex;
    justify-content: space-between;
    padding: 38px;
}

.leftside {
    display: flex;
}

.navigator > .leftside > div {
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.navlink {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.navlink a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.navlink:hover {
    border-bottom: 1px solid black;
}

.navlink a:hover {
    color: black;
}

/* Portfolio styles */

.portfolio-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.portfolio-item {
    position: relative;
}

.portfolio-img {
    height: 350px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-text {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

.logo img {
    width: 50%;
    margin-bottom: 20px;
}

.img-text .subtitle {
    transition: 1s;
    font-weight: 600;
    color: transparent;
}

.img-text:hover .subtitle {
    font-weight: 700;
    color: lightseagreen;
}

.img-darken {
    transition: 1s;
    filter: brightness(10%);
}

.heading h1 {
    color: seagreen;
}

.heading {
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

.paragraph {
    padding-left: 150px;
    padding-right: 150px;
}

/* about page */
.two-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.profile-image img {
    width: 70%;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 120px;
}

.profile-content h1 {
    color: lightseagreen;
}

.active-navlink {
    border-bottom: 1px solid black;
}

.active-navlink a {
    color: black !important;
}

.profile-content p {
    padding-right: 100px;
}

/* social media */

.subtitle2 {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.subtitle2 a {
    color: black;
    text-decoration: none;
    transition: color 0.5s;
}

.img-text .subtitle2 a {
    transition: 1s;
    font-weight: 600;
    color: transparent;
}

.img-text:hover .subtitle2 a {
    font-weight: 700;
    color: lightseagreen;
}

.portfolio-img img {
    height: 350px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
