/* opening */

.openingBG {
    background-color: black;
    width: 100%;
    height: 100%;
    mix-blend-mode: normal;
    display: block;
    position: absolute;
    z-index: 2;
    overflow: hidden;
}

.opening {
    position: absolute;
    right: 0;
    left: 0;
    top: 10%;
    margin: auto;
    color: white;
    font-size: 10vw;
    font-weight: bold;
    z-index: 2;
    mix-blend-mode: normal;
    display: inline-block;
    width: 37vw;
}

.openingBGAnimation {
    mix-blend-mode: multiply;
}

.openingAnimation {
    left: 0;
    top: 0;
    font-size: 500vw;
    transform: translate(-200%, -35%);
    transition: 3s all ease-in;
}


/* ==============NAVBAR============== */

header {
    background-color: #222831;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.container {
    width: 100%;
    margin: auto;
}
.subcontainer {
    width: 85%;
    margin: auto;
}

.nav-item {
    list-style: none;
}

a.nav-link {
    text-decoration: none;
    color: #eeeeee;
}

a.nav-link:hover {
    color: white;
    text-shadow: 0 0 10px #00adb5;
    transition: all 0.5s ease-out;
}

.navbar {
    width: 100%;
    min-height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-branding {
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 2rem;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px 0;
    transition: all 0.3s ease;
    background-color: #eeeeee;
}

/* ==============etc============== */


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    position: relative;
}

#home,
#about,
#skills,
#projects,
#contacts {
    padding: 6rem 12%;
}

.sectionTitle{
    text-align: center;
    margin-bottom: 2rem;
}

.fade {
    opacity: 0;
  }

/* ==============layout============== */

.layout1,
.layout2 {
    display: flex;
    width: 100%
    padding: 2rem;
}

.leftSide,
.rightSide {
    width: 100%;
}



/* ==============home============== */
#home {
    background-color: #222831;
    color: #eeeeee;
}

/* home left */
.mainTitle {
    text-align: center;
    padding: 12% 0 12% 0;
    /* display: inline-block; */
}

.rollingContainer{
    position: relative;
}

.rollingTitle{
    position: absolute;
    font-family: "Roboto Mono", monospace;
    font-size: 3rem;
    background: -webkit-linear-gradient(top right, #fff, #00adb5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    left:0;
    right:0;
}

.subText1{
    display: flex;
    width: 100%;
    line-height: 1;
    margin-top: 3.5rem;
    gap: 3%;
    justify-content: center;
}

.subText2{
    margin: 1rem 0 0;
}

.bigText{
    font-size: 4rem;
    font-weight: 700;
}

.btn {
    font-family: "Poppins", sans-serif;
    background-color: #eeeeee;
    color: #222831;
    padding: 0.5rem 1rem;
    border-radius: 15px;
    border: 0;
    box-shadow: 0px 0px 10px black;
}

.btn:hover {
    background-image: linear-gradient(to bottom, #2ecad1 0%, #00adb5 100%);
    color: #eeeeee;
    transform: translate(0, 0.2rem);
    transition: all 0.5s;
}

/* home right */
.profilePicture {
    width: 450px;
    display: block;
    margin-top: 5rem;
}

/* ==============about============== */

#about .layout1{
    gap: 5%;
}

#about p{
    padding: 0 0% 5% 0;
    text-align: justify;
}

/* about left */



/* about right */


/* ==============skills============== */

#skills {
    background-color: #393E46;
    color: #eeeeee;
}

#skills ul {
    list-style: none;
}

#skills .layout1 {
    justify-content: space-between;
    display:flex;
}

/* skills left */

#skills .leftSide{
    width: 20rem;
}

/* skills middle */

#skills .middleSide{
    width: 20rem;
}

/* skills right */

#skills .rightSide{
    width: 20rem;
}

/* ==============projects============== */

#projects {
    /* padding-top: 0; */
}

.projectLinks {
    width: 100%;
    position: relative;
}

.projectLinks:hover .img_description{
    cursor: pointer;
    visibility: visible;
    opacity: 1;
}

.projectLinks img {
    width: 50rem;
}

.projectLinks img:hover{
    
}

.gallery-cell p {
    color: white;
    text-align:center;
    padding: 4rem;
}

.gallery-cell{
    padding: 5% 15.3%;
    background-color: #222831;
    border-radius: 15px;
}

.img_description{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0, 0.72);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s, visibility .2s;
}


/* ==============contacts============== */

#contacts {
    background-color: #222831;
    color: #eeeeee;
}

.links {
    margin: 1rem;
    justify-content: center;
    display: flex;
    gap: 2rem;
}

.fa-brands {
    color: white;
}

.footerP{
    text-align: center;
    margin-top: 3%;
}

.footerP a{
    text-decoration: none;
    color: white;
    font-style: italic;
}

@media (max-width: 1408px) {
    
    .subText1{
        margin-top: 7.5rem;
    }

    .projectLinks img {
        width: 30rem;
    }

    .projectLinks p .bigText{
        font-size:1rem;
    }

    .projectLinks p {
        font-size: 1rem;
    }
}

@media (max-width: 957px) {
    .subText1{
        margin-top: 11rem;
    }
}

/* medium displays */
@media (max-width: 768px) {
    /* layout */
    .layout1 {
        flex-direction: column;
        width: 100%;
    }
    .layout2 {
        flex-direction: column-reverse;
        width: 100%;
    }
    .leftSide, .rightSide{
        width: 100%;
    }

    /* animation */
    .openingAnimation {
        font-size: 1000vw;
        transform: translate(-500%, -35%);
    }

    /* home */
    #home{
        /* width:100%; */
    }
    .mainTitle{
        padding: 5%;
    }

    .subText1{
        margin-top: 7.5rem;
        font-size: 0.8rem;
    }

    .profilePicture{
        width: 300px;
        margin: auto;
    }

    /* about */

    #about .layout1{
        gap: 10%;
    }

    /* skills */
    #skills {
        text-align: center;
    }
    #skills .leftSide, #skills .middleSide, #skills .rightSide{
        width: 100%;
    }

    /* projects */
    .gallery-cell{
        padding: 0;
        background-color: #222831;
        border-radius: 15px;
    }

    /* navbar */
    .hamburger {
        display: block;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        gap: 0;
        flex-direction: column;
        background-color: #222831;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
    .nav-item {
        margin: 16px 0;
    }
    .nav-menu.active {
        left: 0;
    }
}

/* small displays */
@media (max-width: 640px) {
    /* .rollingTitle{
        font-size: 2rem;
    } */
    .subText1{
        margin-top: 7.5rem;
    }
    /* animation */
    .openingAnimation, .opening, .openingBG {
        display: none;
    }
}

@media (max-width: 400px) {
    /* .rollingTitle{
        font-size: 2rem;
    } */
    .subText1{
        margin-top: 11rem;
    }
}





